.header {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../../images/header-bg.jpg) no-repeat 50% transparent;
	background-color: rgb(1, 7, 7);
	margin: 0 auto;
	min-width: 270px;
	max-width: 1920px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
