.header {
	background: url(../../images/header-bg.jpg) no-repeat 50%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	margin: 0 auto; 
	min-width: 270px;
    max-width: 1920px;
	display: flex;
    flex-direction: column;
}
